.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 4rem;
}
.text{
    width: 20rem;
}
.button1{
    width: 20rem;
}

.top h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}